[submodule "provisioning/roles/ansible-role-memcached"]
	path = provisioning/roles/ansible-role-memcached
	url = https://github.com/geerlingguy/ansible-role-memcached.git
[submodule "provisioning/roles/ansible-role-certbot"]
	path = provisioning/roles/ansible-role-certbot
	url = https://github.com/geerlingguy/ansible-role-certbot.git
